html {
  height: 100%;
  background-color: #fff;
}

body {
  height: 100%;
  margin: 0;
  font-size: 1rem;
}

#global {
  height: 100%;
}

#dummy {
  height: calc(100% - 26px - 8.86em);
}

.simple #dummy {
  height: 100%;
}

#dummy > .row {
  height: 100%;
}

#dummy > .row > .col {
  height: 100%;
}

.fa-stack {
  margin-right: 0;
}

.highcharts-figure,
.highcharts-data-table table {
  min-width: 320px;
  margin: 0;
  height: 100%;
}

#linechart {
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

.controls {
  text-align: right;
  margin-bottom: 1rem;
  padding: 0 10px;
}

.controls small {
  opacity: 0.5;
  line-height: 1.5rem;
  font-size: 0.8rem;
}

.button-row {
  font-size: 0;
  margin-left: 0.5rem;
  white-space: nowrap;
}

.button-row button {
  font-size: 1rem;
  background: #f8f8f8;
  transition: background 150ms;
  border: 1px solid #999;
  display: inline-block;
  font-size: 12pt;
  line-height: 16pt;
  margin-left: -1px;
  color: #555;
}
.button-row button:first-child {
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}
.button-row button:last-child {
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}
.button-row button[disabled] {
  background: rgb(124, 181, 236);
  color: white;
}
.button-row button:hover {
  background: #ccc;
  outline: none;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
}
#dummy > .row > .col {
  display: flex;
  flex-direction: column;
}
.simple .country-selection {
  display: none;
}
.country-selection {
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
select {
  width: 100%;
}
.flag {
  vertical-align: middle;
}
#chart-title {
  font-size: 1.75em;
  font-weight: bold;
}
#chart-drilldown {
  font-size: 1.5em;
}
#chart-subtitle {
  font-size: 1.25rem;
}
.simple #chart-title {
  font-size: 1.2em;
}
.simple #chart-drilldown {
  font-size: 1em;
}
.simple #chart-subtitle {
  font-size: 0.875rem;
}
#bookmark-container {
  padding-top: 2em;
}
.highcharts-data-labels span {
  height: 40px;
}
